<a href="https://colab.research.google.com/github/smrutipunto/NGDB/blob/main/Practical_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Hive table
start-dfs.cmd
start-yarn.cmd
startnetworkserver -h.0.0.0.0
hive

#Create a managed table in Hive (lecture)
hive> create table Lecture(
Room int,
Da_te varchar(20),
Time varchar(20),
Course varchar(20),
T_ID varchar(20),
row format delimited
fields terminated by’,’;

In [ ]:
hive> LOAD DATA LOCAL INPATH ‘C:\\Lecture.txt’ INTO TABLE Lecture;
hive> select * from Lecture;
hive> describe Lecture;
hive> create external table teacher(T_ID_PK varchar(20),
T_Name varchar(20),
T_Dept varchar(20),
T_Exp int,
T_Highest_Degree varchar(20))
row format delimited
fields terminated by ‘,’;

In [ ]:
hive> load data inpath
‘hdfs://localhost:9000/teacher.txt’
Into table teacher;
hive> drop table teacher;