<a href="https://colab.research.google.com/github/smrutipunto/NGDB/blob/main/Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DML statements joins and queries
create database assignment;
create table Patient(
Patient_id char(10) primary key,
Patient_name varchar(30),
Address varchar(20),
Age int(3),
Ailment varchar(20)
);
insert into Patient (Patient_id, Patient_name, Address, Age, Ailment)
Values
('P01', 'Santosh', 'Mumbai', 67, 'Heart attack'),
('P02', 'Rohini', 'Bangalore', 65, 'Stroke'),
('P03', 'Tilak', 'Mumbai', 54, 'Backache'),
('P04', 'Rohini', 'Chennai', 34, 'Stomach ache'),
('P05', 'Riddhi', 'Mumbai', 25, 'Fever');

create table Doctor(
Doc_id char(10) primary key,
Doc_name varchar(30),
Specialization varchar(30),
Qualification varchar(30)
);

insert into Doctor (Doc_id, Doc_name, Specialization, Qualification)
Values
('D01', 'Ragini', 'Cardiac', 'MD'),
('D02', 'Rishav', 'Gynaecology', 'MD'),
('D03', 'Somnath', 'Cardiac', 'MD'),
('D04', 'Raghav', 'General', 'MD'),
('D05', 'Royston', 'General', 'MBBS');

create table Admit(
Bed_No char(10) primary key,
Patient_id char(10),
Doc_id char(10),
Disease varchar(30),
Dt_of_admit date,
Dt_of_discharge date
);

insert into Admit (Bed_No, Patient_id, Doc_id, Disease, Dt_of_admit, Dt_of_discharge)
Values
('B01', 'P01', 'D01', 'Heart related', '2023-01-22', '2023-01-25'),
('B02', 'P02', 'D01', 'Heart related', '2024-02-11', '2024-03-12'),
('B03', 'P05', 'D05', 'Dengue', '2024-03-15', '2024-03-22');

In [ ]:
SELECT Patient.patient_name
FROM Patient
JOIN Admit ON Patient.patient_id = Admit.Patient_id
JOIN Doctor ON Admit.Doc_id = Doctor.Doc_id
WHERE Doctor.Doc_name = 'Ragini';

SELECT Patient.*
FROM Patient
JOIN Admit ON Patient.patient_id = Admit.Patient_id
WHERE DATEDIFF(Admit.Dt_of_discharge, Admit.Dt_of_admit) > 10;

SELECT Patient.patient_name
FROM Patient
LEFT JOIN Admit ON Patient.patient_id = Admit.Patient_id
WHERE Admit.Patient_id IS NULL;

SELECT *
FROM Doctor
WHERE specialization = 'General';


/*5. Print the details of the doctor who is treating Riddhi*/
SELECT Doctor.*
FROM Doctor
JOIN Admit ON Doctor.Doc_id = Admit.Doc_id
JOIN Patient ON Admit.Patient_id = Patient.patient_id
WHERE Patient.patient_name = 'Riddhi';

In [ ]:
UPDATE Admit
SET Dt_of_discharge = '2023-01-26'
WHERE Patient_id = 'P01';

ALTER TABLE Patient
CHANGE COLUMN Ailment symptoms VARCHAR(30);

DELETE Patient
FROM Patient
LEFT JOIN Admit ON Patient.patient_id = Admit.Patient_id
WHERE Admit.Patient_id IS NULL;

ALTER TABLE Doctor
DROP COLUMN specialization;

ALTER TABLE Patient
MODIFY COLUMN Address VARCHAR(50);